
.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: #e50914; /* Netflix red title */
    justify-content: center;
    text-align: center; /* Ensure text is centered within the h1 */
    margin: 0;
}
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #E50914;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #E50914;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #E50914;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #E50914;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #fff;
}

.text-small {
    font-size: 0.9rem !important;
}

body {
    min-height: 110vh;
    background-color: #000000;
    background-image: linear-gradient(135deg, #000000 0%, #2b2b2b 100%);
}

/* End of code adapted from https://www.web-eau.net/blog/examples-header-bootstrap */

/*
* Footer
*/
.footer-text {
    background-color: #E50914;
    color: white;
    padding: 15px;
    text-align: center;
}

.text-red {
    color: #E50914;
}

/*
* Splide slide show
*/
.splide__slide video {
    width : 50%;
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
* D3 related styling
*/
.line {
    fill: none;
}
.shows {
    stroke: #fff;
}
.movies {
    stroke: #E50914;
}

.map {
    width: 800px;
    height: 500px;
    margin: 50px;
}

/* Controller elements (e.g. time slider, filter etc) for views */

#map-controller, #streamgraph-controller, #bar-controller {
    width: 800px;
    margin: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: 300px 500px;
    border: thin white solid;
    border-radius: 10px;
    padding: 10px
}

#map-genre-select, #streamgraph-time-slider, #bar-toggle-btn {
    margin-right: 20px;
}

#map-year-display {
    font-weight: bold;
    font-size: 24px;
}

#streamgraph-slider-label, #bar-chart-descriptor {
    padding-top: 15px;
    font-weight: bold;
    font-size: 24px;
}

#streamgraph {
    margin-left: 50px;
}


.scene_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #e50914; /* Netflix red button */
    color: white; /* Netflix button text color */
    border-radius: 5px;
    border: none;
}

.scene_button:active {
    background-color: #b20710; /* Darker red for active button */
    color: white;
    font-weight: bold;
}
.navigation {
    display: flex;
    flex-direction: row;      /* Ensure the buttons are in a row */
    gap: 10px;                /* Add space between the buttons */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
}